@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('./fonts/Montserrat-Regular.ttf') url('./fonts/Montserrat-Black.ttf'),
    url('./fonts/Montserrat-Medium.ttf') format('woff');
}
@font-face {
  font-family: 'WorkSans';
  src: url('./fonts/WorkSans-Regular.ttf'), url('./fonts/WorkSans-Bold.ttf'),
    url('./fonts/WorkSans-Medium.ttf') format('woff');
}
